body{
    background-color: #EAEDEE;
    font-family: cursive;
}

.nen{
    position: relative;
    height:700px;
}


.backg{
    width: 100%;
    background-color: #B1C5CE;
    opacity: 0.7;
    position: absolute;
}

.img_header{
    height: 100%;
    width: 100%;
    position: absolute;
}


#about{
    font-weight: bold;

}

.info_table{
    display: flex;
    justify-content: space-between;
    
}



.nen_cuoi{
    background-color: #B1C5CE;
    bottom: 0;
}

.hoc_van{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #B1C5CE;
}
.edu{
    display: flex;
}

/*Tab 1*/
.icon_parent{
    position: relative;
}

.add_button{
    position: absolute;
}

.minus_buron{
    position: absolute;
}
.text{
    display: none;
  
}

/*Tab 2*/
.icon_parent_2{
    position: relative;
}

.add_button_2{
    position: absolute;
}

.minus_buron_2{
    position: absolute;
}

.text-1{
    display: none;
}

/*Tab 3*/
.icon_parent_3{
    position: relative;
}
.add_button_3{
    position: absolute;
}

.minus_buron_3{
    position: absolute;
}
.text-2{
    display: none;
}


